aiofiles
aiohttp-socks
Flask-Cors
geoip2
loguru
pilmoji
PySocks
PyYAML
requests
selenium==4.4.3
webdriver-manager

black
coverage
isort
mypy
py-spy
pylint

types-aiofiles
types-PyYAML
types-requests
types-simplejson
