six

aiofiles
aiohttp-socks
beautifulsoup4
Flask-Cors
geoip2
Pillow
pynat
PySocks
PyYAML
requests
selenium==4.4.3
webdriver-manager

black
isort
mypy
py-spy

types-aiofiles
types-PyYAML
types-requests
types-simplejson
